nav a{
    text-decoration: none; /* 글자꾸밈 */
    color: black; /* 글자색 */
    margin: 2em;
}

nav:first-child { /* nav가 여럿인 경우 맨 처음에 오는 nav*/
    display: flex; /* 레이아웃 배치 */
    justify-content: center; /* 어떻게 정렬할지 */
    margin-bottom: 2em;
}

nav:nth-child(2) { /* 두번째 이상의 nav는 nth-child가 붙고 ()안에 숫자 */
    display: flex;
    flex-direction: column; /* 세로=flex-direction */
    align-items: center;
}

#horizontal-underline{
    position:absolute; /* position:absolute 절대좌표(0,0)으로 시작 */
    width: 0%;
    background-color: rgb(77, 197, 77);
    top: 0px;
    left: 0px;
    height: 7px;
    transition: 0.5s;
}

#vertical-underline{
    position:absolute;
    width: 0%;
    background-color: rgb(40, 74, 146);
    top: 0px;
    left: 0px;
    height: 7px;
    transition: 0.5s;
}
